{% extends 'base.html.twig' %}

{% block body %}
	<div class="hero-heading">
		<h1>{{ department.name }}</h1>
	</div>

	<section class="contents">
		<div class="col-left">
			{% if department.parent %}
    			<p>
    				<a href="{{ path('department_show', { 'slug': department.parent.slug }) }}">
    					&uarr; Up to {{ department.parent.name }}
    				</a>
    			</p>
    		{% else %}
    			<p>
    				<a href="{{ path('department_list') }}">
    					&larr; Back to department listing
    				</a>
    			</p>
			{% endif %}
		</div>
		<div class="col-right">
			<p style="float:right;">
				<a href="http://www.hcpss.org/f/aboutus/orgcharts.pdf">
					View the HCPSS Organizational Charts
				</a> 
				<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
			</p>
		</div>
	</section>
	
	<div id="render-cards">    	
        {% for employee in reports %}
        	{{ render(controller('App\\Controller\\CardController::employee', {
        	    employee: employee,
        	    context: department,
        	    primary: loop.first
        	})) }}
        {% endfor %}
    </div>
    
    {% if department.children is not empty %}
    	<p><strong>Sub departments &darr;</strong></p>
    	<ul>
    	{% for related in department.children %}
    		<li>
        		<a href="{{ path('department_show', {'slug': related.slug}) }}">
        		    {{ related.name|replace({' ': '&nbsp;'})|raw }}
        		</a>
    		</li>
    	{% endfor %}
    	</ul>
    {% endif %}
{% endblock %}
